body {
    font-family: Arial, sans-serif;
    width: 400px;
    margin: 2rem;
}

h1{
    color: #10497E;
}

input {
    display: block;
    margin-bottom: 10px;
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
}
button {
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    background-color: #10497E;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

.badge {
    display: inline-block;
    padding: 0.5em 1em;
    color: white;
    border-radius: 0.25em;
    margin-top: 0.5em;
  }
  .badge-weak {
    background-color: red;
  }
  .badge-fair {
    background-color: orange;
  }
  .badge-good {
    background-color: yellow;
    color: black;
  }
  .badge-strong {
    background-color: green;
  }